{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-md-10 p-5">
    <div class="card">
      <div class="card-header">
        <h1>Привет, меня зовут Андрей, я автор этого проекта</h1>
      </div>
      <div class="card-body">
        <p>
          Извините за столь краткое описание нет времени.Всем удачи!
        </p>
      </div> <!-- card body -->
    </div> <!-- card -->
  </div> <!-- col -->
</div> <!-- row -->
{% endblock %}
