{% extends 'base.html' %}
{% block title %}Пароль изменён{% endblock %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-md-8 p-5">
    <div class="card">
      <div class="card-header">
        Пароль изменён
      </div>
      <div class="card-body">
        <form method="post">
        <p>
          Пароль изменён успешно
        </p>
            <a href="{% url 'users:login' %}" class="btn btn-link">
              Войти
            </a>
        {% csrf_token %}
        </form>
        </div> 
    </div> <!-- card -->
  </div> <!-- col -->
</div> <!-- row -->
{% endblock %}
